<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>vue_test</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link type="text/css" rel="stylesheet" href="style.css"/>
<style type="text/css">
#app{margin:50; padding:10;color:#f00};
@import url(style.css);
</style>

</head>
<body>

	<div id="app">
	  {{ message }}
	</div>

	<div id="app-2">
	  <span v-bind:title="message">
		开始测试v-bind
	  </span>
	</div>

	<div id="app-3">
	  <p v-if="seen">测试v-if</p>
	</div>

	<div id="app-4">
		<ol>测试v-for:
			<li v-for="todo in todos">
			 {{ todo.id }}: {{ todo.text }}
			</li>
		</ol>
	</div>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverse">测试v-on</button>
	</div>

	<div id="app-6">
	  <p>{{ message }}</p>
	  <input v-model="message">测试v-model
	</div>

	<div id="app-7">
	  <ol>
			<!--
	      现在我们为每个 todo-item 提供 todo 对象
	      todo 对象是变量，即其内容可以是动态的。
	      我们也需要为每个组件提供一个“key”，稍后再
	      作详细解释。
	    -->
		测试compnent
		<todo-item
		 v-for="item in list"
		  v-bind:gld="item"
		  v-bind:key="item.text" >
		</todo-item>
	  </ol>
	</div>

test：
	<script src="index.js"></script>
</body>
</html>
